*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgba(240, 239, 239, 0.4);
}
.container{
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}
.header{
    height: 450px;
    width: 100%;
    background: rgb(94, 91, 91);
    position: relative;
}
.header-mainImage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/main-image.jpg")center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: .6;
}
.header-mask{
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}
.header-navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items: center;
}
.header-navbar-logoTitle{
    color: #edf5fc;
    font-size: 28px;
    font-family: 'Saira Stencil One', cursive;
}
.header-navbar-menu a{
    margin-left: 30px;
    color:aliceblue;
    text-decoration: none;
}
.header-slogan{
    text-align: center;
    margin-top: 3%;
}
.header-sloganSlogan{
    color: #edf5fc;
    font-size: 80px;
    font-family: 'Anton', sans-serif;
}
.header-sloganBtn{
    color: #12582d;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
    background: #78e078;
    border-radius: 5px;
}
.header-navbar-toggle{
    width: 40px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    display: none;
    cursor: pointer;

}
.header-navbar-toggleIcon, .header-navbar-toggleIcon::before, .header-navbar-toggleIcon::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-right: 5px;
    background: #edf5fc;
    position: relative;
}
.header-navbar-toggleIcon::before{top: 10px;}
.header-navbar-toggleIcon::after{top: -14px;}

/* .closeMenuBurger{
    transition: 0.5s;
    left: -400px;
} */

/* Assess */
.assess{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    background-color: #ebf5c6;
    width: 70%; 
    padding-left: 20px;
    position: fixed;
    z-index: -1;
    margin-top: 80px;
    left: 0;
    /* top: 300px; */
    border-radius: 9px;
    opacity: 0;
}
.sentenseQuestion{
    margin-right: 7px;
    color: #3f3f3e;
}
.question{
    display: flex;
    align-items: center;
}
.note{
    display: flex;
}
i.fas.fa-leaf{
    margin: 0 7px;
    color: #8c8d8a;
    cursor: pointer;
}
.question button{
    margin-left: 20px;
    background-color: #78e078;
    border-radius: 50%;
}
/* Aboub of */
.aboutOf{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: -10;
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #d4dfaf;
    border: 1px solid #3f3f3e;
    box-shadow: 10px 10px 15px -2px rgba(0,0,0,0.75);
    display: none;
}
.aboutOf h2, h5{
    margin: 5px 5px;
}
.aboutOf h2{
    font-size: 18px;
}
.aboutOf p{
    margin: 0 5px;
}

@media screen and (max-width: 690px){
    .container{
        width: 100%;
        padding: 0 20px;
    }

    .header-navbar-toggle{
        display: flex;
        z-index: 1000;
    }
    .header-navbar-menu{
        position: absolute;
        top: 0px;
        left: -400px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: flex-start;
        width: 60vw;
        height: 100vh;
        background: rgba(240, 248, 255, .9);
    }
    .header-navbar-menu a{
        margin-top: 30px;
        color:#222;

    }
    .header-navbar-menuLink{
       margin: 20px;
       font-size: 24px; 
    }
    .header-sloganSlogan{
        margin-top: 5px;
        font-size: 50px;
    }
}