body{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    background: linear-gradient(#24a713, #ffffff);

}
.container-header{
    display: flex;
    flex-wrap: wrap; 
    height: 100px;
}
header h1{
    margin: 0 auto;;
    font-size: 3em;
    color: #24a713;
    font-family: 'Righteous', cursive;
}

aside{
    display: flex;
    width: 100%;
    box-shadow: 0px 8px 8px -3px rgba(0,0,0,0.75);
}
aside a{
    text-decoration: none;

}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    
}
ul:nth-child(1){
    background-color: #000000;
}