body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
    color: #4d4a4a;
    background-color: #4ee620;
    width: 75%;
    padding-left: 25%;
    
  
    
}


/* ***************************** HEADER ****************************** */
header{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin-left: -15rem;

}


.container-header{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    height: 15rem;
    width:100%;
    position:fixed;
    background: linear-gradient(#d4a508, #4ee620);
    box-shadow: 1em 1em rgb(1, 44, 8)
}
header h1{
    justify-content:center;
    texte-align: center;
    font-size: 5em;
    color: #105807;
    margin-left: 9rem; 
    text-shadow: 0.1em 0.1em rgb(1, 44, 8);
}

aside{
    width: 14rem;
    text-align: center;
    padding-left: px;
    border:3px solid black;
    align-items:flex-start;
    margin-top:15em;
    position: fixed;
    background-color: #4ee620;
    box-shadow: 0.5em 1em rgb(1, 44, 8);
    border-radius: 0% 0% 20% 20%;
}


}

aside ul{
    display:flex;
    flex-direction:column;
    list-style:none;
    text-align:center;
    margin-left: 0;
    padding: 0;

    

 }

 ul li{
     text-align: center;

 }
#logo{
    width:14.5rem;
}

aside{
    justify-content:left;
    color:;
   
}
#fleurs{
    height:62rem;
    width:62rem;
}
    

}
.navChapitre{
    width: 50%;
}
.navChapitre h2{
    text-align: center;
}
.navChapitre h2 a{
    color: #4d4a4a;
    font-size: 1.5em;
}
ul{
    list-style-type: none;
    text-align: center;

}
ul li{
    display: inline-block;
    margin: 1em;
    font-size: 1.4em;
}
ul li:hover{
    border-top: 4px solid#105807;
    transition: 0.2s;
    /*border-radius: 5ps;
    *//*color:#f5f1f1;
    */cursor: pointer;

}

/* ***************************** HOME IMAGE ****************************** */

}